@import 'styles/base';

.smallCardWrapper{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

    .smallCard{
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
    }
}


.hoist {
    top: -2rem;
}